.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 120vh; */
}

.hider {
    visibility: hidden;
}

.textMessage {
    margin-bottom: 20px;
}